GO_ADMIN_VERSION=dev
GO_ADMIN_RELEASE_VERSION=0.0.0-dev
GO_ADMIN_SOURCE_SHA=unknown
GO_ADMIN_SERVER_IMAGE=go-admin-plus-server
GO_ADMIN_WEB_IMAGE=go-admin-plus-web
GO_ADMIN_WEB_BIND=127.0.0.1
GO_ADMIN_WEB_PORT=8080
