.git
.github
.idea
.vscode
.claude
temp
dev_store
static/uploadfile
go-admin
go-admin.exe
main
main.exe
*.log
config/settings.demo.yml
config/settings.local.dev.yml
go-admin-db.db
Dockerfile*
docker-compose*.yml
